<!DOCTYPE html>
<html>
<head>
  <!-- head content  -->
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/all-category.css">
</head>
<body>
    <section class="categories">
		<div class="categories__inner">
			<ul class="categories__list">
				<li class="categories__item categories__item--active">
					<a class="categories__link" href="#">
						All categories
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Combined Print and E-book Fiction
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Combined Print & E-book Nonfiction
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Hardcover fiction
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Hardcover nonfiction
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Paperback trade fiction
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Paperback nonfiction
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Advice, how-to & Miscellaneous
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Children’s middle grade hardcover
					</a>
				</li>

				<li class="categories__item">
					<a class="categories__link" href="#">
						Children’s middle grade hardcover
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="#">
						Children’s middle grade hardcover
					</a>
				</li>
                <li class="categories__item">
					<a class="categories__link" href="#">
						Children’s middle grade hardcover
					</a>
				</li>
                <li class="categories__item">
					<a class="categories__link" href="#">
						Children’s middle grade hardcover
					</a>
				</li>
                <li class="categories__item">
					<a class="categories__link" href="#">
						Children’s middle grade hardcover
					</a>
				</li>
			</ul>
		</div>

	</section>

  <script src="category.js"></script>
</body>
</html>