<div id="js-modal" class="backdrop is-hidden-auth">
  <div class="auth-modal-wrapper">
    <button id="js-modal-close" type="button" class="auth-close-btn">
      <svg width="20" height="20">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="auth-modal">
      <input
        type="text"
        id="input-name"
        name="name"
        placeholder="name"
        autocomplete="off"
      />
      <input
        type="email"
        name="email"
        placeholder="email"
        autocomplete="off"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="password"
        autocomplete="off"
        required
      />
      <div class="checkbox-wrapper">
        <input type="checkbox" name="checkbox" class="checkbox" />
      </div>
      <button type="submit" class="sign-up" id="submit-sign">Sign up</button>
    </form>
    <div class="auth-sign-btn">
      <button class="active" id="sign-up">Sign up</button>
      <button id="sign-in">Sign in</button>
    </div>
  </div>
</div>
