<footer class="footer">
        <div class="heard-backdrop isHidden"></div>
        <div class="heard-container">
                <button type="button" class="heard-btn">
                        <svg class="heard-close" width="24" height="24">
                                <use class="heard-close-icon" href="./img/sprite.svg#icon-x-close"></use>
                        </svg>
                </button>
                <div class="center">
                        <h2>Our team:</h2>
                        <ul class="team-list">
                                <li><a href="https://www.linkedin.com/in/artem-denysenko/" target="_blank"
                                                rel="noreferrer noopener">Artem Denysenko</a></li>
                                <li><a href="https://www.linkedin.com/in/bohdan-vivchar-1a4322182/" target="_blank"
                                                rel="noreferrer noopener">Bohdan Vivchar</a></li>
                                <li><a href="https://www.linkedin.com/in/ihor-koleiev-72b84b214/" target="_blank"
                                                rel="noreferrer noopener">Ihor Koleiev</a></li>
                                <li><a href="https://www.linkedin.com/in/ira-badalina-2780aa268/" target="_blank"
                                                rel="noreferrer noopener">Irina Badalina</a></li>
                                <li><a href="https://www.linkedin.com/in/kateryna-vdovychenko-29185a251" target="_blank"
                                                rel="noreferrer noopener">Kateryna Vdovychenko</a></li>
                                <li><a href="https://www.linkedin.com/in/olga-solod-29b177108/" target="_blank"
                                                rel="noreferrer noopener">Olga Solod</a></li>
                                <li><a href="https://github.com/vladkasyan" target="_blank"
                                                rel="noreferrer noopener">Vladysla
                                                Kasyan</a></li>
                                <li><a href="https://www.linkedin.com/in/natalia-yastrzhemska-4b4a0112b/"
                                                target="_blank" rel="noreferrer noopener">Natalia Yastrzhemska</a></li>
                                <li><a href="https://www.linkedin.com/in/elena-skalko-038958b6" target="_blank"
                                                rel="noreferrer noopener">Olena Skalko</a>
                                </li>
                        </ul>
                </div>
                <div class="leftpart"></div>
                <div class="rigthpart"></div>
        </div>
</footer>