<header class="container header">

    <a href=".index.html">
      <img src="../img/logo.svg" alt="logo">
      <p>Bookshelf</p></a>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="./index.html" class="header-nav-link">home</a>
      </li>
      <li class="header-nav-item">
        <a href="./shopping-list-page.html" class="header-nav-link">shopping-list</a>
      </li>
    </ul>
  </nav>
  <use>
    <svg href="../img/symbol-defs.svg#icon-pagination-right"></svg>
  </use>
</header>

