<header class="header">

    <a class="header-logo" href=".index.html" >
      <img src="./img/logo.svg" alt="logo">
      <img src="./img/bookshelf.svg" alt="logo1">
    </a>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="./index.html" class="header-nav-link link">home</a>
      </li>
      <li class="header-nav-item">
        <a href="./shopping-list-page.html" class="header-nav-shop link">shopping-list
          <img src="./img/cart.svg" alt="cart"></a>
      </li>
    </ul>
  </nav>
  
<div class="btns">
      <img src="./img/switcher1.svg" alt="switcher1" width="40" height="24" class="switcher-btn">
    </button>
  
    <button class="mobile-menu" data-menu-open type="button"><svg class="icon-menu-openburger" width="28" height="28">
      <use href="./img/sprite.svg#icon-burger"></use>
      </svg></button>

  <div class="user-form">
    <button id="js-modal-open" class="btn-user" type="button">
      <p class="text-btn">Sign up</p>
      <svg class="btn-user-click" width="20" height="20">
      <use href="./img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>

</header>

