<header class="header">

    <a class="header-logo" href=".index.html" >
      <img src="./img/logo.svg" alt="logo">
      <img src="./img/bookshelf.svg" alt="bookshelf" class="bookshelf">
      <img src="./img/bookshelf__dark-theme.svg" alt="bookshelf-dark" class="bookshelf-dark">
    </a>

  <nav class="header-nav" id="js-header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="./index.html" class="header-nav-link link">home</a>
      </li>
      <li class="header-nav-item">
        <a href="./shopping-list-page.html" class="header-nav-shop link">shopping-list
          <img src="./img/cart.svg" alt="cart" class="cart-icon-dark">
          <img src="./img/cart__dark-theme.svg" alt="cart" class="cart-icon-white">
        </a>
      </li>
    </ul>
  </nav>

  <!-- <use>
    <svg href="../img/symbol-defs.svg#icon-pagination-right"></svg>
  </use> -->
</header>

  
<div class="btns">
    <button type="button" class="switcher-btn">
      <!-- <img src="./img/switcher1.svg" alt="switcher1" width="40" height="24" class="switcher-btn"> -->
      <svg class="switcher-btn-icon" width="40" height="24"> 
        <!-- <use href="./img/switcher1.svg" class="switcher-btn-icon"></use> -->
      </svg>
    </button>
  
   

    <button type="button" class="mob-close-btn is-hidden" data-menu-close>
      <svg class="mob-close" width="28" height="28">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button class="mobile-menu" type="button" data-menu-open>
      <svg class="icon-menu-openburger" width="28" height="28">
      <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  <div class="user-form">
    <button id="js-modal-open" class="btn-user" type="button">
      <p class="text-btn">Sign up</p>
      <svg class="btn-user-click" width="20" height="20">
      <use href="./img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <button class="btn-user-out is-hidden" type="button">
      <p class="text-btn-out">Log out</p>
      <svg class="btn-user-click" width="20" height="20">
      <use href="./img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
     <!-- <button class="btn-user" type="button">
       <svg class="btn-user-click" width="20" height="20">
         <use href="./img/sprite.svg#icon-user"></use>
        </svg>
        <p class="text-btn" id="user-sign-name"></p>
    </button> -->
    </select>
  </div>
</div>

</header>
