<div class="mob-menu is-hidden" data-menu>
  <button type="button" id="js-mobile-modal-open" class="sign-btn">
    Sign up
    <svg class="svg-arrow" width="20" height="20">
      <use href="./img/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>

  <div id="#js-menu-user" class="nav-user-menu">
    <!-- <div class="user-menu">
      <svg width="30" height="30">
        <use href="../img/sprite.svg#icon-user"></use>
      </svg>
      <p class="user-name"></p>
    </div> -->
    <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a href="./index.html" class="menu-nav-link">home</a>
        </li>
        <li class="menu-nav-item">
          <a href="./shopping-list-page.html" class="menu-nav-shop"
            >shopping-list
            <img src="./img/cart.svg" alt="cart" class="cart-icon-dark" />
            <img
              src="./img/cart__dark-theme.svg"
              alt="cart"
              class="cart-icon-white"
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
