<div class="mob-menu">
    <button type="button" class="sign-btn">Sign up
        <!-- <svg class="svg-arrow" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg> -->
    </button>
   
    <div class="mob-gallery">
        <ul class="mob-list">
        <li class="mob-list-item"><img srcset="../img/1-90.jpg 90w,
        ../img/1-180.jpg 180w" src="../img/1-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/2-90.jpg 90w,
        ../img/2-180.jpg 180w" src="../img/2-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/3-90.jpg 90w,
        ../img/3-180.jpg 180w" src="../img/3-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/4-90.jpg 90w,
        ../img/4-180.jpg 180w" src="../img/4-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/5-90.jpg 90w,
        ../img/5-180.jpg 180w" src="../img/5-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/6-90.jpg 90w,
        ../img/6-180.jpg 180w" src="../img/6-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/7-90.jpg 90w,
        ../img/7-180.jpg 180w" src="../img/7-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/8-90.jpg 90w,
        ../img/8-180.jpg 180w" src="../img/8-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/9-90.jpg 90w,
        ../img/9-180.jpg 180w" src="../img/9-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/10-90.jpg 90w,
        ../img/10-180.jpg 180w" src="../img/10-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/11-90.jpg 90w,
        ../img/11-180.jpg 180w" src="../img/11-90.jpg" alt="" class="mob-img"></li>
        <li class="mob-list-item"><img srcset="../img/12-90.jpg 90w,
        ../img/12-180.jpg 180w" src="../img/12-90.jpg" alt="" class="mob-img"></li>
        </ul>
    </div>
</div>