<!-- <button type="button" class="test" id="643282b1e85766588626a0ca">click</button> -->
<div class="modal-backdrop hi-backdrop" data-modal>
  <div class="modal-wrap" id="modalWindow">
    <button type="button" class="modal-close-btn" data-action="close-modal">
      <svg
        class="modal-svg-close"
        width="24"
        height="24"
        class="modal-svg-close"
      >
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <div class='modal-skeleton'></div>
    </div>

    <button type="button" class="modal-add-btn is-hidden">
      Add to shopping list
    </button>
    <button type="button" class="modal-remove-btn is-hidden">
      remove from the shopping list
    </button>
    <p class="modal-text is-hidden">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
<script type="module" src="./js/modal.js"></script>
