<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <li class="book-card">
      <button><img src="`{book_image}`" alt="" /></button>
      <div>
        <h2>`${title}`</h2>
        <span class=""></span>
        <p>`${}`</p>
        <img src="`{}`" alt="" />
      </div>
      <div>
        <p>`{author}`</p>
        <a href=""><img src="" alt="" /></a>
        <a href=""><img src="" alt="" /></a>
        <a href=""><img src="" alt="" /></a>
      </div>
    </li>
  </body>
</html>
