<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <li class="book-card">
      <div class="shopping-image-thumb">
        <img src="${book_image}" alt="" />
      </div>
      <div class="">
      <div class="book-description">
        <h2 class="book-title">${title}</h2>
        <div class="book-genre">${list_name}</div>
        <div class="book-description">${description}</div>
        <svg class="book-card-icon">
        <use src="../../../../../Downloads/trash-03.svg" alt="" />
        </svg>
      </div>
      <div class="book-card-links">
        <div class="book-author">${author}</div>
        <a href=""><img src="" alt="" /></a>
        <a href=""><img src="" alt="" /></a>
        <a href=""><img src="" alt="" /></a>
      </div>
      </div>
    </li>`;
    </li>
  </body>
</html>
