<div class="support-ukraine-container">
    <div class="title-container">
        <p class="support-ukraine-title">Support Ukraine</p>
        <img src="./img/supportUkraine-emblem.png" alt="emblem" class="emblem">
    </div>
    <div class="support-ukraine-list-container">
        <ul class="support-ukraine-list list"></ul>
    </div>
    <button type="button" class="support-ukraine-btn"><svg class="support-ukraine-btn-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-scroll-top"></use>
        </svg></button>
</div>