
.categories-container {
    max-width: 1440px;
    margin: 0 auto;
}

.categories {
    margin-top: 40px;
    margin-left: 20px;
	width: 356px;
	height: 472px;
	overflow-y: scroll;
}

.categories::-webkit-scrollbar {
    width: 8px;
}

.categories::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 12px;
}


.categories::-webkit-scrollbar-track {
    background-color: var(--background-main);
}

.categories__list {
    display: block;
	margin: 0;
	padding-left: 0;
}

.categories__list:first-child{
		color: var(--main-color);
} 

.categories__item + .categories__item {
	margin-top: 32px;
}

.categories__link {
	font-size: 14px;
	color: rgba(17,17,17,0.6);
}

.categories__item--active {
	font-weight: 700;
	color: var(--main-color);
	text-transform: uppercase;
}

.categories__link:hover,
.categories__link:focus,
.categories__link:active{
	color: var(--main-color);
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
}


@media (max-width: 1440px) {
	.container {
		max-width: 768px;
	}	

	.categories {
		margin-left: 32px;
		width: 337px;
	}
}


@media (max-width: 768px) {
	.container {
		max-width: 375px;
	}

	.categories {
		margin: 40px auto;
		width: 335px;
		height: 230px;
		font-size: 16px;
		line-height: 18px;
	}
		.categories__item+.categories__item {
			margin-top: 24px;
		}
}

@media (min-width: 768px){
	.categories {
		margin: 0;
}
.aside-wrapper {
		display: flex;
		gap: 32px;
		margin-top: 40px;
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 1440px) {
	.aside-wrapper {
		flex-direction: column;
		gap: 86px;
	}

	.categories__list{
		padding-left: 40px;
	}
}