@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  src: url('../font/DMSans-Bold.woff2') format('woff2'),
    url('../font/DMSans-Bold.woff') format('woff'),
    url('../font/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  src: url('../font/DMSans-Medium.woff2') format('woff2'),
    url('../font/DMSans-Medium.woff') format('woff'),
    url('../font/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  src: url('../font/DMSans-Regular.woff2') format('woff2'),
    url('../font/DMSans-Regular.woff') format('woff'),
    url('../font/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

