@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  src: url('../font/DMSans-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  src: url('../DMSans-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  src: url('../DMSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'DMSans-Italic', sans-serif;
  src: url('./DMSans-Italic.ttf') format('truetype');
  font-style: normal;
  font-style: italic;
} */
