.footer {
    position: relative;
    max-width: 1440px;
    height: 72px;
    margin: 0 auto;
    border-top: 1px #888 solid;
}

.heard-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%) scale(1);
    width: 70px;
    height: 70px;
    overflow: hidden;
    transition: 0.4s linear 0.3s, box-shadow 0.01s linear;
    animation: anime 0.65s infinite;
}

.leftpart {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 24px;
    width: 40px;
    transform: rotate(-45deg);
    background-color: #5636eb;
    transform-origin: left bottom;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 0.4s linear, height 0.4s linear, transform 0.4s linear 0.3s,
        box-shadow 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

.rigthpart {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 24px;
    width: 40px;
    transform: rotate(45deg);
    background-color: #5636eb;
    transform-origin: right bottom;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: width 0.4s linear, height 0.4s linear, transform 0.4s linear 0.3s;
    cursor: pointer;
}

.leftpart.anime {
    animation: animeleft 0.5s infinite;
}

.rigthpart.anime {
    animation: animeright 0.5s infinite;
}

.heard-container.active {
    top: -420%;
    transform: translate(-50%, -50%);
    width: calc(500px - 2%);
    height: 500px;
    border-radius: 15px;
    transition: 0.4s linear, box-shadow 0.05s linear 0.65s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: none;
}

.leftpart.active {
    transform: translate(-1%, -50%) rotate(0deg);
    width: 250px;
    height: 500px;
    box-shadow: none;
    transition: transform 0.4s linear, height 0.4s linear 0.3s,
        width 0.4s linear 0.3s, box-shadow 0.01s;
    animation: paused;
    cursor: default;
}

.rigthpart.active {
    transform: translate(1%, -50%) rotate(0deg);
    width: 250px;
    height: 500px;
    transition: transform 0.4s linear, height 0.4s linear 0.3s,
        width 0.4s linear 0.3s;
    animation: paused;
    cursor: default;
}

@keyframes anime {
    0% {
        transform: translate(-50%, -100%) scale(1);
    }

    100% {
        transform: translate(-50%, -100%) scale(0.8);
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
    font-size: 1em;
    overflow: hidden;
    transition: 0.3s linear;
    z-index: 2;
}

.center.active {
    width: 450px;
    height: 450px;
    transition: 0.2s linear 0.5s;
    padding-top: 32px;
}

.center h2 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 28px;
    color: white;
}

.center li {
    text-align: center;
    margin-bottom: 18px;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}


@media screen and (max-width: 560px) {
    .heard-container.active {
        width: calc(90vw - 2%);
    }

    .rigthpart.active {
        width: 45vw;
    }

    .leftpart.active {
        width: 45vw;
    }

    .center.active {
        width: 82vw;
    }
}

.heard-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.518);
    opacity: 1;
    overflow-y: auto;
    transition: opacity var(---animation);
    backdrop-filter: blur(2px);
}

.heard-backdrop.isHidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.heard-btn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 12px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.heard-close {
    stroke: #212024;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.heard-btn:hover .heard-close {
    stroke: white;
}

.team-list li:hover {
    transform: scale(1.2);
    color: rgb(223, 194, 141);
}