img {
  width: 22px;
}
header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(18, 0, 46);
  height: 50px;
}
a {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
p {
  color: aliceblue;
}
