.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-bestBooks {
    width: 335px;
    margin: 40px 20px;
}

.js-cover-block {
    display: flex;
    flex-direction: column;
}

.js-overlow-bestBooks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.home-title-book {
    font-size: 32px;
    font-weight: 700;
    
}

.img-bestBooks {
    max-width: 335px;
    height: 485;
}

.js-btn-bestBooks {
    border: 2px solid #4F2EE8;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 40px;
    padding: 14px 28px;
    align-items: center;
    width: 124px;
   overflow: hidden;
}

.js-list-bestBooks,
.js-list-allBooks {
    width: 335px;
    list-style: none;
}

.js-list-allBooks:not:last-child {
    margin-bottom: 20px;
}

.js-list-name {
   margin-top: 4px;
}

.js-coverAllBooks {
    display: block;
    margin-bottom: 70px;
    gap: 40px;
    /* flex-direction: column; */
}

.js-add-name-category {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 20px;
    margin-left: 20px;
}


@media screen and (min-width: 768px) {

    .container-bestBooks {
        width: 704px;
        margin: 40px 32px;
    }

    .home-title-book {
        font-size: 48px;
       margin-left: 32px;
    }

    .js-cover-block {
        display: flex;
        flex-wrap: wrap;
    }

    .js-overlow-bestBooks {
        gap: 25px;
        flex-direction: row;
    }

    .img-bestBooks {
        max-width: 218px;
        height: 316px;
    }

    .js-list-name {
        line-height: 1.71;
    }

    .js-list-bestBooks,
    .js-list-allBooks {
        width: calc((100% - 50px) / 3);
    }

    .js-btn-bestBooks {
        margin-top: 32px;
    }

    .js-coverAllBooks {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: 50px;
    }

    .js-add-name-category {
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: -1.92px;
        margin-left: 32px;
    }
}

@media screen and (min-width: 1440px) {

    .container-bestBooks {
        width: 996px;
        margin: 40px 24px 40px 40px;
    }

    .home-title-book {
        margin-left: 40px;
    }

    .js-overlow-bestBooks {
        gap: 24px;
        flex-direction: row;
    }

    .img-bestBooks {
        max-width: 180px;
        height: 256px;
    }

    .js-list-bestBooks,
    .js-list-allBooks {
        width: calc((100% - 96px) / 5);
    }

    .js-coverAllBooks {
        gap: 24px;
        margin-bottom: 80px;
    }

    .js-add-name-category {
        margin-left: 40px;
    }
}

@media screen and (max-width: 767px) {

    .js-list-bestBooks:nth-of-type(n + 4) {
        display: none;
    }
}