.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-home {
    max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
}
.container-bestBooks {
    width: 335px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.js-cover-block {
    display: flex;
    flex-direction: column;
}

.js-overlow-bestBooks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper {
    margin-bottom: 40px;
}

.home-title-book {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 40px;
    width: 335px;
}

.books {
    color: var(--main-color);
}

.img-bestBooks {
    border-radius: 8px;
    width: 335px;
    height: 485;
}

.js-btn-bestBooks {
    display: flex;
    border-radius: 40px;
    border: 2px solid var(--main-color);
    margin-left: auto;
    margin-top: 8px;
    padding: 14px 28px;
    align-items: center;
    width: 124px;
    height: 46px;
    color: #111;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    white-space: nowrap;
    justify-content: center;
    overflow: hidden;
}

.js-btn-bestBooks:hover {
    cursor: pointer;
}

.js-list-bestBooks, .js-list-allBooks {
    width: 335px;
    list-style: none;
        position: relative;
}

.js-list-allBooks {
    margin-bottom: 40px;
}

.js-list-allBooks:last-child {
    margin-bottom: 0px;
}

.js-list-name {
    color: var(--light-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.js-named-bestBooks {
    color: var(--main-textcolor);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-top: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.js-autor-bestBooks {
    color: var(--light-text);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.48px;
    margin-top: 4px;
}

.js-add-name-category {
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 20px;
    margin-left: 20px;
}


@media screen and (min-width: 768px) {
    .container-home {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .container-bestBooks {
        width: 704px;
        margin-top: 100px;
        margin-bottom: 100px;    }

    .js-container-bestBooks {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 25px;
        width: 704px;
    }

    .home-title-book {
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -1.92px;
        margin-bottom: 0;
        width: 704px;
    }

    .js-cover-block {
        display: flex;
        flex-wrap: wrap;
    }

    .js-overlow-bestBooks {
        gap: 25px;
        flex-direction: row;
    }

    .img-bestBooks {
        width: 218px;
        height: 316px;
    }

    .js-list-name {
        line-height: 1.71;
    }

    .js-list-bestBooks,
    .js-list-allBooks {
        width: calc((100% - 50px) / 3);
        margin-bottom: 0;
    }

    .js-btn-bestBooks {
        margin-top: 20px;
    }

    .js-add-name-category {
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: -1.92px;
        margin-left: 32px;
    }

    .wrapper {
        margin-bottom: 0;
        width: 704px;
    }
}

@media screen and (min-width: 1440px) {
    .container-home {
        max-width: 1440px;
        padding-left: 40px;
        padding-right: 24px;
    }

    .container-bestBooks {
        min-width: 996px;
        margin-top: 40px;
        margin-bottom: 72px;
    }

    .js-overlow-bestBooks {
        gap: 24px;
        flex-direction: row;
    }

    .home-title-book {                
        width: 996px;
    }

    .img-bestBooks {
        width: 180px;
        height: 256px;
    }

    .js-list-bestBooks,
    .js-list-allBooks {
        width: calc((100% - 96px) / 5);
    }

    .js-container-bestBooks {
        width: 996px;
        gap: 40px 24px;
}

    .wrapper {
        width: 996px;
    }
}

@media screen and (max-width: 767px) {

    .js-list-bestBooks:nth-of-type(n + 2) {
        display: none;
    }
}

@media screen and (max-width: 1439px) {
    .js-list-bestBooks:nth-of-type(n + 4) {
        display: none;
    }
}

.card-hover-categories {
    width: 100%;
    height: 70px;
    background-color: var(--accent-color);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    transform: translateY(-170%);  
    opacity: 0;
    color: var(--main-textcolor);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    transition: opacity var(---animation);
    
}
.js-list-allBooks:hover .card-hover-categories,
.js-list-bestBooks:hover .card-hover-categories {
    opacity: 1;
    cursor: pointer;
}

.js-list-bestBooks {
    overflow: hidden;
}

.card-text-hover {
    text-align: center;
    padding-top: 26px;
}



