.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-bestBooks {
    width: 335px;
    margin: 40px 20px;
}

.js-overlow-bestBooks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.home-title-book {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.books {
    color: var(--main-color);
}

.img-bestBooks {
    max-width: 335px;
    height: 485;
}

.js-btn-bestBooks {
    display: flex;
    border-radius: 40px;
    border: 2px solid #4F2EE8;   
    margin-left: auto; 
    margin-top: 8px;
    margin-bottom: 40px;
    padding: 14px 28px;
    align-items: center;
    width: 124px;
    height: 46px;
    color: #111;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.29;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        white-space: nowrap;
        justify-content: center;
        overflow: hidden;
}

.js-list-bestBooks {
    width: 335px;
}

.js-list-name {
    color: #B4AFAF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.js-named-bestBooks {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-top: 14px;
}

.js-autor-bestBooks {
    color: #B4AFAF;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.48px;
    margin-top: 4px;
}


@media screen and (min-width: 768px) {

.container-bestBooks {
    width: 704px;
    margin: 40px 32px;
}
    
.home-title-book {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
    margin-left: 32px;
}

.js-overlow-bestBooks {
    gap: 25px;
    flex-direction: row;
}

.img-bestBooks {
    max-width: 218px;
    height: 316px;
}

.js-list-name {
    line-height: 1.71;
}

.js-list-bestBooks {
    width: calc((100% - 50px) / 3);
}

.js-btn-bestBooks{
    margin-top: 32px;
}
}

@media screen and (min-width: 1440px) {

.container-bestBooks {
    width: 996px;
    margin: 40px 24px 40px 40px;
}
.home-title-book {
    margin-left: 40px;
}

.js-overlow-bestBooks {
    gap: 24px;
    flex-direction: row;
}

.img-bestBooks {
    max-width: 180px;
    height: 256px;
}

.js-list-bestBooks {
    width: calc((100% - 96px) / 5);
}
}

@media screen and (max-width: 767px) {
    .js-list-bestBooks:nth-of-type(n + 2) {
        display: none;
    }
}

@media screen and (max-width: 1439px) {
    .js-list-bestBooks:nth-of-type(n + 4) {
        display: none;
    }
}