

.modal-backdrop.hi-backdrop {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.modal-backdrop.hi-backdrop .modal-wrap {
    display: none;
}

.is-hidden {
    display: none!important;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}



.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.40);
    opacity: 1;
    overflow-y: auto;
    transition: var(---animation);
}


.modal-wrap {
    width: 335px;
    max-width: 100%;
    border-radius: 18px;
    border: 2px solid var(--main-textcolor);
    background-color: var(--white);
    padding-top: 40px;
    padding-left: 24px;
    padding-bottom: 40px;
    padding-right: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(---animation);
}

.modal-content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 12px;
    padding: 0px;
    background-color: transparent;
    border: none;

}

.modal-svg-close {
    width: 24px;
    height: 24px;
    position: absolute;
    stroke: var(--main-textcolor);
    transition: var(---animation);
}

.modal-svg-close:hover,
.modal-svg-close:focus {
    stroke: var(--main-color);
}

.modal-content-pict {
    width: 100%;
    max-width: 287px;
    height: 408px;
    border-radius: 8px;
}


.modal-content-title {
    font-family: 'DMSans-Bold', sans-serif;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.64px;
    color: var(--main-textcolor);
    margin-top: 14px;
    margin-bottom: 4px;
}

.modal-content-autur {
    font-family: 'DMSans-Regular', sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.48px;
    color: var(--light-text);
    margin-bottom: 18px;
}

.modal-content-abst {
    font-family: 'DMSans-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    color: var(--main-textcolor);

    margin-bottom: 16px;
}

.modal-link {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    height: 36px;
    margin-bottom: 40px;

}

.modal-link-icon {
    margin: auto;

    transition: var(---animation);
}

.modal-link-icon:hover,
.modal-link-icon:focus {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .35));
}

.amazon {
    width: 62px;
    height: 19px;
}

.appleshop {
    width: 33px;
    height: 32px;
}

.bookshop {
    width: 38px;
    height: 36px;
}

.modal-add-btn {
    color: var(--main-textcolor);
    font-family: 'DMSans-Bold', sans-serif;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid var(--main-color);
    padding: 14px 28px;
    background-color: var(--white);
    display: block;
    margin: auto;
    height: 46px;
    white-space: nowrap;
    transition: var(---animation);
}

.modal-add-btn:hover,
.modal-add-btn:focus,
.modal-remove-btn:hover,
.modal-remove-btn:focus{
    background: var(--main-color);
    color: var(--white);
}

.modal-remove-btn {
    color: var(--main-textcolor);
    font-family: 'DMSans-Bold', sans-serif;
    font-size: 13px;
    line-height: 1.28;
    letter-spacing: -0.14px;
    text-transform: uppercase;

    border-radius: 40px;
    border: 2px solid var(--main-color);
    padding: 14px 23px;
    background-color: var(--white);
    display: block;
    margin-bottom: 8px;
    min-width: 279px;
    height: 46px;
    white-space: nowrap;
    transition: var(---animation);

}

.modal-text {
    color: rgba(17, 17, 17, 0.50);
    text-align: center;
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.4px;
    width: 242px;
    margin-left: auto;
    margin-right: auto;

}


.modal-skeleton {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciDQogIHJvbGU9ImltZyINCiAgd2lkdGg9IjI4MCINCiAgaGVpZ2h0PSI1ODAiDQogIGFyaWEtbGFiZWxsZWRieT0ibG9hZGluZy1hcmlhIg0KICB2aWV3Qm94PSIwIDAgMjgwIDU4MCINCiAgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSINCj4NCiAgPHRpdGxlIGlkPSJsb2FkaW5nLWFyaWEiPkxvYWRpbmcuLi48L3RpdGxlPg0KICA8cmVjdA0KICAgIHg9IjAiDQogICAgeT0iMCINCiAgICB3aWR0aD0iMTAwJSINCiAgICBoZWlnaHQ9IjEwMCUiDQogICAgY2xpcC1wYXRoPSJ1cmwoI2NsaXAtcGF0aCkiDQogICAgc3R5bGU9J2ZpbGw6IHVybCgiI2ZpbGwiKTsnDQogID48L3JlY3Q+DQogIDxkZWZzPg0KICAgIDxjbGlwUGF0aCBpZD0iY2xpcC1wYXRoIj4NCiAgICAgICAgPGNpcmNsZSBjeD0iMjAiIGN5PSI1NTYiIHI9IjIwIiAvPiANCiAgICAgICAgPHJlY3QgeD0iMCIgeT0iNDQxMCIgcng9IjIiIHJ5PSIyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjEzIiAvPiANCiAgICAgICAgPHJlY3QgeD0iMCIgeT0iMCIgcng9IjEwIiByeT0iMTAiIHdpZHRoPSIyODAiIGhlaWdodD0iNDAwIiAvPiANCiAgICAgICAgPHJlY3QgeD0iMCIgeT0iNDE1IiByeD0iMCIgcnk9IjAiIHdpZHRoPSIyODAiIGhlaWdodD0iMTgiIC8+IA0KICAgICAgICA8cmVjdCB4PSIwIiB5PSI1MDAiIHJ4PSIwIiByeT0iMCIgd2lkdGg9IjI4MCIgaGVpZ2h0PSI4IiAvPiANCiAgICAgICAgPHJlY3QgeD0iMCIgeT0iNDcwIiByeD0iMCIgcnk9IjAiIHdpZHRoPSIyODAiIGhlaWdodD0iOCIgLz4gDQogICAgICAgIDxyZWN0IHg9IjAiIHk9IjQ4NSIgcng9IjAiIHJ5PSIwIiB3aWR0aD0iMjgwIiBoZWlnaHQ9IjgiIC8+IA0KICAgICAgICA8cmVjdCB4PSIwIiB5PSI1MTUiIHJ4PSIwIiByeT0iMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSI4IiAvPiANCiAgICAgICAgPGNpcmNsZSBjeD0iNzUiIGN5PSI1NTUiIHI9IjIwIiAvPiANCiAgICAgICAgPGNpcmNsZSBjeD0iMTMwIiBjeT0iNTU1IiByPSIyMCIgLz4gDQogICAgICAgIDxyZWN0IHg9IjAiIHk9IjQ0MCIgcng9IjAiIHJ5PSIwIiB3aWR0aD0iMTMwIiBoZWlnaHQ9IjEzIiAvPg0KICAgIDwvY2xpcFBhdGg+DQogICAgPGxpbmVhckdyYWRpZW50IGlkPSJmaWxsIj4NCiAgICAgIDxzdG9wDQogICAgICAgIG9mZnNldD0iMC41OTk5NjQiDQogICAgICAgIHN0b3AtY29sb3I9IiNmM2YzZjMiDQogICAgICAgIHN0b3Atb3BhY2l0eT0iMSINCiAgICAgID4NCiAgICAgICAgPGFuaW1hdGUNCiAgICAgICAgICBhdHRyaWJ1dGVOYW1lPSJvZmZzZXQiDQogICAgICAgICAgdmFsdWVzPSItMjsgLTI7IDEiDQogICAgICAgICAga2V5VGltZXM9IjA7IDAuMjU7IDEiDQogICAgICAgICAgZHVyPSIycyINCiAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSINCiAgICAgICAgPjwvYW5pbWF0ZT4NCiAgICAgIDwvc3RvcD4NCiAgICAgIDxzdG9wDQogICAgICAgIG9mZnNldD0iMS41OTk5NiINCiAgICAgICAgc3RvcC1jb2xvcj0iI2VjZWJlYiINCiAgICAgICAgc3RvcC1vcGFjaXR5PSIxIg0KICAgICAgPg0KICAgICAgICA8YW5pbWF0ZQ0KICAgICAgICAgIGF0dHJpYnV0ZU5hbWU9Im9mZnNldCINCiAgICAgICAgICB2YWx1ZXM9Ii0xOyAtMTsgMiINCiAgICAgICAgICBrZXlUaW1lcz0iMDsgMC4yNTsgMSINCiAgICAgICAgICBkdXI9IjJzIg0KICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIg0KICAgICAgICA+PC9hbmltYXRlPg0KICAgICAgPC9zdG9wPg0KICAgICAgPHN0b3ANCiAgICAgICAgb2Zmc2V0PSIyLjU5OTk2Ig0KICAgICAgICBzdG9wLWNvbG9yPSIjZjNmM2YzIg0KICAgICAgICBzdG9wLW9wYWNpdHk9IjEiDQogICAgICA+DQogICAgICAgIDxhbmltYXRlDQogICAgICAgICAgYXR0cmlidXRlTmFtZT0ib2Zmc2V0Ig0KICAgICAgICAgIHZhbHVlcz0iMDsgMDsgMyINCiAgICAgICAgICBrZXlUaW1lcz0iMDsgMC4yNTsgMSINCiAgICAgICAgICBkdXI9IjJzIg0KICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIg0KICAgICAgICA+PC9hbmltYXRlPg0KICAgICAgPC9zdG9wPg0KICAgIDwvbGluZWFyR3JhZGllbnQ+DQogIDwvZGVmcz4NCjwvc3ZnPg==");
    width: 280px;
    height: 580px;
    margin-bottom: 40px;
}



/*================== TABLET ================== */
@media screen and (min-width: 768px) {

    .modal-wrap {
        width: 579px;
        max-width: 100%;
        max-height: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .modal-content-card {
        display: flex;
        gap: 24px;
        flex-direction: row;
        margin-bottom: 40px;

    }

    .modal-content-pict {
        width: 192px;
        height: 281px;
    }

    .modal-content-text {
        display: flex;
        flex-direction: column;

    }

    .modal-content-title {
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.96px;
        margin-top: 0;
        margin-bottom: 8px;

    }

    .modal-content-autur {
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.56px;
        color: var(--light-text);
        margin-bottom: 20px;
    }

    .modal-content-abst {
        margin-bottom: 20px;
    }

    .modal-link {
        height: 36px;
        margin-bottom: 0;
    }


    .modal-close-btn {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .modal-svg-close {
        width: 28px;
        height: 28px;
        position: absolute;
    }


    .modal-add-btn {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.18px;
        width: 499px;
        height: 64px;
    }

    .modal-remove-btn {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.18px;
        width: 499px;
        height: 64px;
    }

    .modal-text {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.48px;
        width: 324px;
    }

    .modal-skeleton {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciDQogIHJvbGU9ImltZyINCiAgd2lkdGg9IjQ5NSINCiAgaGVpZ2h0PSIyODAiDQogIGFyaWEtbGFiZWxsZWRieT0ibG9hZGluZy1hcmlhIg0KICB2aWV3Qm94PSIwIDAgNDk1IDI4MCINCiAgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSINCj4NCiAgPHRpdGxlIGlkPSJsb2FkaW5nLWFyaWEiPkxvYWRpbmcuLi48L3RpdGxlPg0KICA8cmVjdA0KICAgIHg9IjAiDQogICAgeT0iMCINCiAgICB3aWR0aD0iMTAwJSINCiAgICBoZWlnaHQ9IjEwMCUiDQogICAgY2xpcC1wYXRoPSJ1cmwoI2NsaXAtcGF0aCkiDQogICAgc3R5bGU9J2ZpbGw6IHVybCgiI2ZpbGwiKTsnDQogID48L3JlY3Q+DQogIDxkZWZzPg0KICAgIDxjbGlwUGF0aCBpZD0iY2xpcC1wYXRoIj4NCiAgICAgICAgPGNpcmNsZSBjeD0iMjQwIiBjeT0iMjAwIiByPSIyMCIgLz4gDQogICAgICAgIDxyZWN0IHg9IjIyMCIgeT0iNDUiIHJ4PSIyIiByeT0iMiIgd2lkdGg9IjE0MCIgaGVpZ2h0PSIyMCIgLz4gDQogICAgICAgIDxyZWN0IHg9Ii0xIiB5PSIwIiByeD0iMTAiIHJ5PSIxMCIgd2lkdGg9IjE5MCIgaGVpZ2h0PSIyODAiIC8+IA0KICAgICAgICA8cmVjdCB4PSIyMjAiIHk9IjAiIHJ4PSIwIiByeT0iMCIgd2lkdGg9IjI4MCIgaGVpZ2h0PSIyOCIgLz4gDQogICAgICAgIDxyZWN0IHg9IjIyMCIgeT0iOTUiIHJ4PSIwIiByeT0iMCIgd2lkdGg9IjI4MCIgaGVpZ2h0PSIxMCIgLz4gDQogICAgICAgIDxyZWN0IHg9IjIyMCIgeT0iMTE1IiByeD0iMCIgcnk9IjAiIHdpZHRoPSIyODAiIGhlaWdodD0iMTAiIC8+IA0KICAgICAgICA8cmVjdCB4PSIyMjAiIHk9IjEzNSIgcng9IjAiIHJ5PSIwIiB3aWR0aD0iMjgwIiBoZWlnaHQ9IjEwIiAvPiANCiAgICAgICAgPHJlY3QgeD0iMjIwIiB5PSIxNTUiIHJ4PSIwIiByeT0iMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMCIgLz4gDQogICAgICAgIDxjaXJjbGUgY3g9IjMwMCIgY3k9IjIwMCIgcj0iMjAiIC8+IA0KICAgICAgICA8Y2lyY2xlIGN4PSIzNjAiIGN5PSIyMDAiIHI9IjIwIiAvPg0KICAgIDwvY2xpcFBhdGg+DQogICAgPGxpbmVhckdyYWRpZW50IGlkPSJmaWxsIj4NCiAgICAgIDxzdG9wDQogICAgICAgIG9mZnNldD0iMC41OTk5NjQiDQogICAgICAgIHN0b3AtY29sb3I9IiNmM2YzZjMiDQogICAgICAgIHN0b3Atb3BhY2l0eT0iMSINCiAgICAgID4NCiAgICAgICAgPGFuaW1hdGUNCiAgICAgICAgICBhdHRyaWJ1dGVOYW1lPSJvZmZzZXQiDQogICAgICAgICAgdmFsdWVzPSItMjsgLTI7IDEiDQogICAgICAgICAga2V5VGltZXM9IjA7IDAuMjU7IDEiDQogICAgICAgICAgZHVyPSIycyINCiAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSINCiAgICAgICAgPjwvYW5pbWF0ZT4NCiAgICAgIDwvc3RvcD4NCiAgICAgIDxzdG9wDQogICAgICAgIG9mZnNldD0iMS41OTk5NiINCiAgICAgICAgc3RvcC1jb2xvcj0iI2VjZWJlYiINCiAgICAgICAgc3RvcC1vcGFjaXR5PSIxIg0KICAgICAgPg0KICAgICAgICA8YW5pbWF0ZQ0KICAgICAgICAgIGF0dHJpYnV0ZU5hbWU9Im9mZnNldCINCiAgICAgICAgICB2YWx1ZXM9Ii0xOyAtMTsgMiINCiAgICAgICAgICBrZXlUaW1lcz0iMDsgMC4yNTsgMSINCiAgICAgICAgICBkdXI9IjJzIg0KICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIg0KICAgICAgICA+PC9hbmltYXRlPg0KICAgICAgPC9zdG9wPg0KICAgICAgPHN0b3ANCiAgICAgICAgb2Zmc2V0PSIyLjU5OTk2Ig0KICAgICAgICBzdG9wLWNvbG9yPSIjZjNmM2YzIg0KICAgICAgICBzdG9wLW9wYWNpdHk9IjEiDQogICAgICA+DQogICAgICAgIDxhbmltYXRlDQogICAgICAgICAgYXR0cmlidXRlTmFtZT0ib2Zmc2V0Ig0KICAgICAgICAgIHZhbHVlcz0iMDsgMDsgMyINCiAgICAgICAgICBrZXlUaW1lcz0iMDsgMC4yNTsgMSINCiAgICAgICAgICBkdXI9IjJzIg0KICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIg0KICAgICAgICA+PC9hbmltYXRlPg0KICAgICAgPC9zdG9wPg0KICAgIDwvbGluZWFyR3JhZGllbnQ+DQogIDwvZGVmcz4NCjwvc3ZnPg==");
        width: 495px;
        height: 280px;
        margin-bottom: 40px;
    }

}




/*================== DESKTOP ================== */
@media screen and (min-width: 1440px) {

}

