/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'DMSans-Bold', sans-serif;
  background-color: var(--background-main);
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 24px;
}
