.shopping-support {
  display: none;
}
.shopping-header {
  margin-bottom: 40px;
  line-height: 1.1188;
  font-size: 32px;
  letter-spacing: -1.28px;
  color: inherit;
}
.empty-list {
  margin: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-list-text {
  margin-bottom: 14px;
  width: 250px;

  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: 'DMSans-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2857;
  letter-spacing: -0.28px;
}
.empty-list-img {
  width: 265px;
  height: 198px;
  background-image: url(../img/empty-shopping-list.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.book-card {
  margin-bottom: 20px;
  width: 335px;

  position: relative;
  display: flex;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
}
.shopping-image-thumb {
  height: 142px;
  width: 100px;
  margin-right: 10px;
}
.shopping-image-thumb img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.book-description {
  width: 193px;

  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;

  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.56px;
}
.book-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-additional-info {
  display: flex;
  align-items: end;
}
.book-card-refs {
  margin-top: auto;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.book-title {
  width: 144px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}
.book-genre {
  width: 165px;
  height: 14px;
  margin-bottom: 4px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--light-text);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.36px;
}
.book-card-icon {
  width: 16px;
  height: 16px;
  pointer-events: none;
}
.book-card-delete {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 6px;

  border-radius: 50%;
  border: var(--main-color);
  background-color: var(--main-color);
  fill: var(--main-color);
  stroke: #fff;
}
.book-author {
  margin-right: auto;
  height: 14px;
  width: 100px;

  color: var(--light-text);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: -0.48px;
  font-style: italic;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.amazon-icon {
  width: 32px;
  height: 11px;
}
.other-icon {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .shopping-image-thumb {
    height: 165px;
    width: 116px;
    margin-right: 14px;
  }
  .empty-list-text {
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .shopping-header {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
  .book-title {
    width: auto;
  }
  .book-description {
    width: 522px;
  }
  .book-genre {
    margin-bottom: 12px;
    width: auto;
  }
  .book-card {
    width: 704px;
    padding: 24px;
  }
  .book-author {
    width: auto;
  }
  .book-card-refs {
    column-gap: 16px;
  }
  .book-card-refs a {
    display: flex;
    justify-content: center;
  }
  .book-card-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
  .book-card-delete {
    width: 34px;
    height: 34px;
    padding: 8px;
    top: 24px;
    right: 24px;
  }
  .amazon-icon {
    width: 48px;
    height: 15px;
  }
  .other-icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .container.shopping {
    margin: 0px;
    padding: 24px;

    max-width: 100%;
    width: 996px;
  }
  main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 1440px;
  }
  .book-card {
    width: 996px;
  }
  .shopping-support {
    display: block;
    padding-top: 24px;
    width: 356px;
  }
  .book-description {
    width: 808px;
  }
}
