.checkbox-wrapper {
  display: flex;
  color: var(--white);
  justify-content: center;
  gap: 10px;
}
.auth-modal .checkbox {
  cursor: pointer;
  padding: 20px;
  appearance: none;
  width: auto;
  position: absolute;
  top: 180px;
  right: 29px;
  border: none;
  background-image: url(../img/view.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  filter: contrast(0) invert(1) brightness(1.5);
}

.auth-modal .checkbox.checked {
  top: 176px;
  right: 24px;
  padding: 24px;
  background-image: url(../img/hide.png);
  background-size: 21px;
}

.auth-modal .checkbox-sign {
  top: 117px;
}
.auth-modal .checkbox-sign.checked {
  top: 113px;
  right: 24px;
}

@media screen and (min-width: 768px) {
  .auth-modal .checkbox {
    top: 274px;
    right: 39px;
    background-size: 25px;
  }
  .auth-modal .checkbox.checked {
    top: 270px;
    right: 34px;
    background-size: 27px;
  }

  .auth-modal .checkbox-sign {
    top: 177px;
  }
  .auth-modal .checkbox-sign.checked {
    top: 173px;
  }
}
