.checkbox-wrapper {
  display: flex;
  color: var(--white);
  justify-content: center;
  gap: 10px;
}
.auth-modal .checkbox {
  padding: 40px;
  appearance: none;
  width: auto;
  position: absolute;
  top: 254px;
  right: 25px;
  border: none;
  background-image: url(../img/view.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  filter: contrast(0) invert(1) brightness(2);
}

.auth-modal .checkbox.checked {
  top: 271px;
  right: 41px;
  padding: 24px;
  background-image: url(../img/hide.png);
}
