/**
|============================
| include css partials with
| default @import url()
|============================
*/
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./fonts.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./home.css');
@import url('./shopping-list.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./support-ukraine.css');
@import url('./all-category.css');
@import url('./loader.css');
/* @import url('./header.css'); */
/* @import url('./header.css'); */
/* @import url('./header.css'); */
/* @import url('./header.css'); */
/* @import url('./header.css'); */

:root {
  --white: #fff;
  --background-main: #f6f6f6;
  --background-dark: #202024;
  --main-textcolor: #111111;
  --light-text: #b4afaf;
  --main-color: #4f2ee8;
  --accent-color: #eac645;
  ---animation: 250ms ease;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
